* {
  text-align: center;
}

nav {
  margin: 20px;
}

nav {
  margin: 20px;
}

button {
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  /* box-shadow: 5px 2px 2px white; */
  margin: 1rem;
  padding: 0.75rem;
}

div > h2{
 border: 2px solid black;
 margin: 20px 450px 20px 450px;
 padding: 20px;
}